

{% extends "master.html.twig" %}

{% block title %}
    Login 
{% endblock %}

{% block content %}
<form method="post">
    Username: <input type="text" name="username" ><br>
    Password <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form> 

{% endblock %} 