<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css" />
        <title>{% block title %}{% endblock %} - My Webpage</title>
        {% block addhead %}

        {% endblock %}
    </head>
    <body>
        <div id="centeredContent">{% block content %}{% endblock %}
            <div id="header">
               {% if sessionUSER %}
                   You are logged in as {{sessionUser.email}}, you can 
                   <a href="/logout">logout</a> or <a href="/articleadd">post an article</a> 
                   {% else  %}
                       You can <a href="/login">login</a> or <a href="/register">register</a>
                       {% endif %}
            </div>
            <div id="footer">&copy; Copyright 2011 by <a href="http://domain.invalid/">you</a>.</div>
        </div>
    </body>
</html>{# empty Twig template #}
