{% extends "master.html.twig" %}

{% block title %}Success - Product added{% endblock %}

{% block content %}

<p>Product added <a href="/products/{{productId}}">Click here to view</a>.</p>

{% endblock %}
