{% extends "master.html.twig" %}

{% block title %}Add Article{% endblock %}

{% block content %}

{# empty Twig template #}
{% if errorList %}    
    <ul>
    {% for error in errorList %}
        <li>{{error}}</li>
    {% endfor %}
    </ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
    Name: <input type="text" name="name" value="{{v.name}}"><br>
    Description: <textarea name="description">{{v.description}}</textarea>
    Price: <input type="number" name="price" value="{{v.price}}"><br>
    Image: <input type="file" name="image" ><br>
    
    <input type="submit" value="Add product">
</form>
    
{% endblock %}
