{% extends "master.html.twig" %}

{% block title %}{{p.name}} -Products{% endblock %}

{% block content %}
<div >
    <h3>{{p.name}}</h3>
    <br><p>{{p.description}}</p><br>
    <b>Price:{{p.price}}</b>
    <img scr="/uploads/{{p.image}}" alt="img"/>
    
    <div>{{a.body}}</div>
</div>

{% endblock %}