{% extends "master.html.twig" %}

{% block title %}
    Todos
{% endblock %}

{% block content %}

<table class="table">
    <thead class="thead-dark">
        <th>Task</th>
        <th>DueDate</th>
        <th>isDone</th>
        
    </thead>
{% for todo in todoList %}
    <tr>
        <td>{{ todo.task }}</td>
        <td>{{ todo.dueDate }}</td>
        <td>{{ todo.isDone }}</td>
        
    </tr>
    {% endfor %}
    
</table>

{% endblock %}{# empty Twig template #}
{# empty Twig template #}
