{# empty Twig template #}

<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
    </head>
    <body>
       <p> Hello {{name}} from twig , you are {{age}} y/o.</p> 

       
    </body>
</html>
