
{% if errorList %}
    <ul>
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if numbers %}
    <p>
        {% for number in numbers %}
            {{ number}},
        {% endfor %}
    </p>
{% endif %}
<form method="post">
    Min:  <input type="text" name="min"><br>
    Max:   <input type="number" name="max"><br>
    Count:   <input type="number" name="count"><br>
    <input type="submit" value="ADD">
</form>
 
